/*Desktop Start*/

* {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: hsl(225, 20%, 60%);
}

body {
    margin: 0;
    background-color: hsl(230, 100%, 99%);
}

#big-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

/*for background-pattern*/

.background-pattern{
    width: 100%;
    position: absolute;
    top: 0;
    height: 400px;
}


.circles{
    position: absolute;
    top: 70px;
    height: 140px;
    z-index: -1;
}

#container {
    height: 100vh;
    box-sizing: border-box; 
    z-index: 2;
}

#container #title-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#container #title-part * {
    margin: 0;
    text-align: center;
}

#title-part p {
    font-size: 15px;
}

#main-part-container {
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    margin-top: 100px;
    border-radius: 5px;
    box-sizing: border-box; 
    box-shadow: 0px 5px 18px 16px rgba(55, 51, 172, 0.06);
}

#container #title-part h1 {
    color: hsl(227, 35%, 25%);
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 800;
    margin-top: 90px;
}

/*price-pageviews*/

#display-price-pageviews {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    align-items: baseline;
}

.price p {
    display: inline;
    color: hsl(227, 35%, 25%);
    font-weight: 800;
}

/*test*/

#display-price-pageviews {
    position: relative;
}


#display-price-pageviews input {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 20px;
    border-radius: 20px;
    -webkit-appearance:none;
    width: 100%;
    outline: none;
}


/*variables*/

#main-part {
    --thumb-dimensions: 3rem;
    --thumb-br: 50%;
    --thumb-bg: #10d8c4;
    --thumb-hover-bg: #7aeadf;
    --thumb-active-bg: #24aea1;
    --thumb-bs: 0px 15px 30px rgba(0, 255, 231, 0.6);
}

/* Thumb style */

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type="range"]::-moz-range-thumb {
    outline: none;
    border: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    margin-top: -1.4rem;
    height: var(--thumb-dimensions);
    width: var(--thumb-dimensions);
    border-radius: var(--thumb-br);
    cursor: pointer;
    background: url("./images/icon-slider.svg") center no-repeat, var(--thumb-bg);
    box-shadow: var(--thumb-bs);
    transition: background 250ms;
  }

  input[type="range"]:hover::-webkit-slider-thumb {
    background-color: var(--thumb-hover-bg);
  }

  input[type="range"]:active::-webkit-slider-thumb {
    background-color: var(--thumb-active-bg);
  }

  /* Thumb for Mozilla*/
  input[type="range"]::-moz-range-thumb {
    margin-top: -1.4rem;
    height: var(--thumb-dimensions);
    width: var(--thumb-dimensions);
    border-radius: var(--thumb-br);
    cursor: pointer;
    background: url("./images/icon-slider.svg") center no-repeat, var(--thumb-bg);
    box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
    transition: background 250ms;
  }

  input[type="range"]:hover::-moz-range-thumb {
    background-color: var(--thumb-hover-bg);
  }
  
  input[type="range"]:active::-moz-range-thumb {
    background-color: var(--thumb-active-bg);
  }

  /* Track style */

  /*variables*/

  #main-part {
    --track-h: 7px;
    --track-bg: #ecf0fb;
    --track-br: 0.5rem;
    --left: 50;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height:  var(--track-h);
    cursor: pointer;
    background: #ecf0fb;;
    border-radius: 0.5rem;
    background-image: linear-gradient(
      to right,
      #a4f3eb calc(var(--left) * 1%),
      transparent 0%
    );
  }

  /* Track for Mozilla */
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: var(--track-h);
    cursor: pointer;
    background: var(--track-bg);
    border-radius: var(--track-br);
    background-image: linear-gradient(
      to right,
      #a4f3eb calc(var(--left) * 1%),
      transparent 0%
    );
  }


.pageviews {
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 1px;
}

.price {
    font-size: 30px;
    font-weight: 800;
    color: hsl(227, 35%, 25%);
}

.price span {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-left: 5px;
}


/*monthly-yearly*/

#monthly-yearly {
    font-size: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

.yearly-billing span {
    font-size: 8px;
    background: hsl(14, 92%, 95%);
    display: inline-block;
    margin-left: 5px;
    padding: 2px 4px;
    border-radius: 20px;
    color: hsl(15, 100%, 70%);
}

/*toggle-part*/


.toggle {
    --width: 30px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}

.toggle-input {
    display: none;
}
  
.toggle-fill {
    position: relative;
    width: var(--width);
    height: 16px;
    border-radius: 8px;
    background: hsl(223, 50%, 87%);
    transition: background 0.2s;
    box-sizing: border-box;
    margin-left: 8px;
    display: flex;
    align-items: center;
 } 
  
.toggle-input:checked ~ .toggle-fill {
    background: #57e6d0;
}

.toggle-fill::after {
    content: '';
    position:absolute;
    height: 11px;
    width: 11px;
    background: #fff;
    border-radius: 50%;
    transition: transform 0.2s;
    left: 3px;
}
 
/*for toggling*/

.toggle-input:checked ~ .toggle-fill::after {
     transform: translateX(13px);

}

.border {
    height: 1px;
    background-color: hsl(223, 50%, 87%);
    margin: 0 -30px;
}

/*list-button-part*/

#list-button-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-top: 18px;
}

button {
    height: 35px;
    border-radius: 40px;
    border: none;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 12px;
    background-color: hsl(227, 35%, 25%);
    color: hsl(226, 100%, 87%);
}

button:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    margin: 5px 0;
  }

li::before {
    content: url(images/icon-check.svg);
    margin-right: 10px;
}

/*Desktop End*/



/*Mobile Start*/

@media screen and (min-width: 279px) and (max-width: 600px) {
    
    #container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        box-sizing: border-box;
        flex-direction: column;
    }

    .circles{
        height: 135px;
        top: unset;
        padding-top: 6rem;
    }

    #main-part-container {
        margin-top: 70px;
    }
    
    #title-part {
        display: flex;
        flex-direction: column;
    }

    #title-part .break { /*to cause line break*/
        display: block;
        padding-top: 5px;
    }

    #container #title-part h1 {
        font-size: 20px;
    }
    
    #container #title-part p {
        font-size: 12.5px;
    }


    #display-price-pageviews {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #display-price-pageviews input {
        margin-bottom: 25px;
    }

    #display-price-pageviews .pageviews {
        margin-bottom: 18px;
    }

    #monthly-yearly {
        padding-left: 0;
    }

    .toggle-fill {
        margin-right: 8px;
    }

    #list-button-part {
        flex-direction: column;
        text-align: center;
    }

    li {
        margin: 10px 0;
    }

    button {
        margin-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
        height: 40px;
    }

}

/*Mobile End*/

/*Tablet*/ 

@media screen and (min-width: 601px) and (max-width: 1300px) {
    .circles{
        top: 67px;
        height: 135px;
    }
} 
